/* overflowhiden */
.overflowhiden {
    overflow: hidden;
}

/* header bg */
header {
    background-image: url(../img/png/Header_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* navbar */

.nav_text_effect::after {
    content: '';
    position: absolute;
    background: var(--color-white);
    height: 3px;
    width: 0px;
    bottom: -5px;
    left: 0;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav_text_effect:hover::after {
    width: 100%;
}

.nav_btn {
    border: 2px solid var(--color-white);
    border-radius: 8px;
    padding: 5px 32px;
}

.nav_btn:hover {
    background: var(--color-red);
}

.nav_line {
    background: var(--color-white);
    padding: 3px 18px;
    margin-top: 3px;
    border-radius: 5px;
    z-index: 2;
}

/* hero */
.hero_btn {
    border: 2px solid var(--color-white);
    border-radius: 8px;
    padding: 8px 28px 8px 28px;
}

.hero_btn:hover svg {
    transform: translateY(-4px);

}

.hero_btn:hover {
    background: var(--color-red);

}

/* about */
.about_img {
    bottom: -145px;
    right: 0;
}

/* All */
.all_img_line_1 {
    left: -150px;
    top: -70px;
}

.all_img_line_2 {
    right: -150px;
    bottom: -70px;
}

.all_box {
    border-radius: 16px;
    padding: 45px;
    height: 100%;
}

.all_box:hover {
    transform: scale(1.1);
    transition: all 0.5s linear;
}

.all_box_p_day {
    max-width: 270px;
}

.all_img_1 {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.slider_box_btn {
    border: 2px solid var(--color-white);
    border-radius: 8px;
    padding: 8px 28px;
}

.slider_box {
    background-color: #0c0000c1;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: all 2s cubic-bezier(0.2, 1, 0.2, 1);
}


.slider_shadow:hover .slider_box {
    top: 0px;
}


@media (max-width:992px) {
    nav ul {
        position: fixed;
        top: 0px;
        left: -100%;
        background: var(--color-lightblack);
        width: 100%;
        height: 100vh !important;
        transition: 0.9s;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        line-height: 4;
    }


    .nav_left {
        left: 0;
    }
}

@media (min-width:576px) {
    .hiro_h1_w_sm {
        max-width: 811px;
    }

    .hiro_p_w_sm {
        max-width: 318px;
    }

    .All_h2_w_sm {
        max-width: 1284px;
    }

}